@{
    ViewData["Title"] = "Home Page";
}

<div class="homeimage">
    <img src="~/images/homeImage.png" alt="Home Image" class="img-fluid">
    <div class="homeimage-overlay">
    <button>SHOP NOW</button>
</div>
